%title{
  font-family: RobotoSlab;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 35px;
  text-align: center;
}

%section{
  margin-bottom: 90px;
  @media (max-width: $tablet) {
    margin-bottom: 70px;
  }
  @media (max-width: $mobile) {
    margin-bottom: 45px;
  }
}

.show-more-btn{
  display: none;
  color: #707070;
  margin-left: auto;
  margin-top: 20px;
  @media (max-width: $mobileSmall) {
    display: block;
  }
}

form{
  .form-loading{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    &.active{
        opacity: 1;
        visibility: visible;
        pointer-events: all;
    }
}
  input.error{
    border-color: #f33939;
    border-width: 2px;
    margin-bottom: 3px;
  }
}

.swiper {
}
.swiper-wrapper {
}
.swiper-slide {
}
.swiper-btns-body{
  width: 100%;
  display: flex;
  justify-content: center;
}
.swiper-prev-btn {
  margin-right: 30px;
  cursor: pointer;
  svg{
      path{
          transition: all 0.8s ease 0s;
      }
      rect{
          transition: all 0.8s ease 0s;
      }
  }
  &:hover{
      svg{
          path{
              stroke: #FCAA8F;
          }
          rect{
              stroke: #FCAA8F;
          }
      }
  }
}
.swiper-next-btn {
  cursor: pointer;
        svg{
            path{
                transition: all 0.3s ease 0s;
            }
            rect{
                transition: all 0.3s ease 0s;
            }
        }
        &:hover{
            svg{
                path{
                    stroke: #FCAA8F;
                }
                rect{
                    stroke: #FCAA8F;
                }
            }
        }
}